body{
    font-family: 'Poppins', sans-serif;

}
.orange-highlight{
    color:yellow;
}
h1{
    font-size: 25px;
}
p{
    color:blueviolet;
}
.light{
    color:yellowgreen;
}
.half-width{
    width:40%;
    float:left;
    margin left:5%;
    padding-left:2%;
}
.half-width img{
width:100%;
}
.link-button{
    text-decoration: none;
    background-color: yellow;
    border-radius: 5px;
    padding:10px 20px;
    font-size:20px;
    color:red;
}
.top-banner{
    background-image: url(images/developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height:500px;
}
.Dream-area{
    background-image:url(images/developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
    float: left;
    background-image: url(images/developer-portfolio/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.single-experience{
     box-shadow: 10px 10px 40px  gray;
     border-radius: 5px;
     height:80%;
     float:50px;
}